@font-face {
  font-family: 'bebasneue_bold';
  src: url('../font/bebas/bebasneue_bold.eot');
  src: url('../font/bebas/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
  url('../font/bebas/bebasneue_bold.woff') format('woff'),
  url('../font/bebas/bebasneue_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasneue_book';
  src: url('../font/bebas/bebasneue_book.eot');
  src: url('../font/bebas/bebasneue_book.eot?#iefix') format('embedded-opentype'),
  url('../font/bebas/bebasneue_book.woff') format('woff'),
  url('../font/bebas/bebasneue_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasneue_light';
  src: url('../font/bebas/bebasneue_light.eot');
  src: url('../font/bebas/bebasneue_light.eot?#iefix') format('embedded-opentype'),
  url('../font/bebas/bebasneue_light.woff') format('woff'),
  url('../font/bebas/bebasneue_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasneue_regular';
  src: url('../font/bebas/bebasneue_regular.eot');
  src: url('../font/bebas/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
  url('../font/bebas/bebasneue_regular.woff') format('woff'),
  url('../font/bebas/bebasneue_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "plugins/fancybox";
@import "reset";
@import "variables";
@import "elements";
@import "mixins";

@import "styles/header";

@import "styles/page-footer";

