.footer-menu {
  max-width: 325px;

  &__list {
    display: inline-block;
    .ul-reset();
    margin: -3px 80px 0 0;
    vertical-align: top;
  }
    &__item {
      display: block;
      margin-bottom: 21px;

      @media @screen-xs{
        margin: 0 5px 5px;
      }
    }
      &__link {
        .font-family(@font-bold);
        .font-size(1.4rem,normal);
        color: @white;
        text-decoration: underline;
        text-transform: uppercase;
        .transition();
      }
      &__link:hover {
        .no-decor();
      }
}