.price-filter {
  .size(100%,139px);
  .bg-image("../images/bg_filter.jpg");
  background-position: center 0;
  .relative();
  margin-bottom: 23px;

  &__range {
    display: inline-block;
    width: 347px;
    margin: 0 35px 0 55px;
  }

  &__select-wrap {
    display: inline-block;
    width: 299px;
    margin-top: 22px;
    margin-right: 63px;
  }
    &__select-label {
      margin-bottom: 25px;
      .font-family(@font-trebuchet);
      .font-size(1.5rem,15px);
      color: @white;
      font-weight: bold;
    }
      &__select {
        .size(299px,45px);
        .bg-color(@white);
        padding-left: 20px;
        .font-family(@font-trebuchet);
        .font-size(1.5rem,45px);
        color: @black-28;
        font-weight: bold;
      }
}