.product-list
    .product-list__inner
        include product-item
        include product-item
        include product-item
        include product-item
        include product-item
        include product-item
        include product-item
        include product-item

include ../page-nav