.product-item
    .product-item__foto
        a
            img(src="images/auction-item.png", alt="")

    a.product-item__title Methandriol dipropionate

    .product-item__price
        span.product-item__price--new 38000 р.
        span.product-item__price--old 88000 р.

    a.product-item__cart-btn В корзину!