doctype html
html(lang='ru')
    include views/includes/head
    body
        include views/includes/header

        include views/includes/breadcrumbs
        include views/includes/page-title
        include views/includes/discounts-page

        include views/includes/footer