doctype html
html(lang='ru')
    include views/includes/head
    body
        include views/includes/header

        include views/includes/top-slider
        include views/includes/index-advants
        include views/includes/index-auctions
        include views/includes/subscribe
        include views/includes/index-popular
        include views/includes/index-kurs
        include views/includes/index-reviews
        include views/includes/index-brands

        include views/includes/footer