.auction-item
    .auction-item__foto
        .auction-item__icon-discount

        a
            img(src="images/auction-item.png", alt="")

        .auction-item__counter
            span.auction-item__counter--hh 08:
            span.auction-item__counter--mm 03:
            span.auction-item__counter--ss 01

    a.auction-item__title Methandriol dipropionate

    .auction-item__price
        span.auction-item__price--new 38000 р.
        span.auction-item__price--old 88000 р.

    a.auction-item__cart-btn В корзину!