.brands-page
    .brands-page__inner
        .brands-page__list
            include brands-item
            include brands-item
            include brands-item
            include brands-item
            include brands-item
            include brands-item
            include brands-item
            include brands-item
            include brands-item

        include page-nav