.brands-item
    a.brands-item__name BRITISH DRAGON
    .brands-item__descr Проникая внутрь клеточного ядра, активизирует клетки
    .brands-item__pic
        a
            img(src="images/brand-logo.jpg", alt="")