.common-page
    .common-page__inner
        .discounts-page
            .discounts-page__top
                .discounts-page__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                .discounts-page__top-btn
                    a скидки до 25%! при оптовом заказе

            include price-filter
            include catalog/sort-block
            include catalog/product-list
            include catalog/catalog-seo
            include index-advants