.footer-menu
    ul.footer-menu__list
        li.footer-menu__item
            a.footer-menu__link КАТАЛОГ
        li.footer-menu__item
            a.footer-menu__link ПРОИЗВОДИТЕЛИ
        li.footer-menu__item
            a.footer-menu__link СКИДКИ
        li.footer-menu__item
            a.footer-menu__link Новичкам

    ul.footer-menu__list
        li.footer-menu__item
            a.footer-menu__link КАТАЛОГ
        li.footer-menu__item
            a.footer-menu__link ПРОИЗВОДИТЕЛИ
        li.footer-menu__item
            a.footer-menu__link СКИДКИ
        li.footer-menu__item
            a.footer-menu__link Новичкам