footer.page-footer
    .page-footer__inner

        .page-footer__left
            include footer-menu
            .page-footer__price-link
                a Единый прайс-лист продукции<br> в удобным поиском!

        .page-footer__right
            .page-footer__mail-note Для связи напишите консультанту в вашем Личном кабинете

            .page-footer__pay
                .page-footer__pay-title Принимаем к оплате
                .page-footer__pay-sb
                .page-footer__pay-btc
                .page-footer__pay-etc

            .page-footer__deliver
                .page-footer__deliver-title Способы доставки
                .page-footer__deliver-icon

        .clear
        .page-footer__copyright Copyright 2016. Gerthshop.pro - Гастроном спортивной<br> фармакологии №1 в России

.button-up
    a

script(src='js/jquery-1.10.1.min.js')
script(src='js/scripts.js')
script(src='js/custom.js')