header.header
    .header__inner
        a.header__logo
            img(src="images/logo.png",alt="")
        .header__url Gerthshop.pro
        .header__slogan <span>ТВОЙ ПРО ПОСТАВЩИК</span> <span>спортивной фармакологии</span>

        .header__top-right
            .header__fav
                span 3
            .header__last-mess
                span YF123456789RU
            .header__auth
                a.header__auth-link Личный кабинет

        include top-menu
        include main-menu

        include header-search

        include header-cart

