section.index-reviews
    .index-reviews__inner
        .index-reviews__h3.common__h3 более 2000 отзывов!
        .index-reviews__list
            include reviews-item
            include reviews-item
            include reviews-item
            include reviews-item
            include reviews-item
            include reviews-item

        a.index-reviews__all-link Все отзывы покупателей!