section.index-advants
    .index-advants__inner
        .index-advants__h3.common__index-h3 наши преимущества!
        ul.index-advants__list
            li.index-advants__item
                .index-advants__icon
                    img(src="images/icon_adv1.png", alt="")
                .index-advants__label Система скидок
                .index-advants__note Любимым покупателям

            li.index-advants__item
                .index-advants__icon
                    img(src="images/icon_adv2.png", alt="")
                .index-advants__label подарки
                .index-advants__note В каждом заказе

            li.index-advants__item
                .index-advants__icon
                    img(src="images/icon_adv3.png", alt="")
                .index-advants__label 20 000
                .index-advants__note Постоянных покупателей

            li.index-advants__item
                .index-advants__icon
                    img(src="images/icon_adv4.png", alt="")
                .index-advants__label быстрая доставка
                .index-advants__note По всей России

            li.index-advants__item
                .index-advants__icon
                    img(src="images/icon_adv5.png", alt="")
                .index-advants__label сертифицировано!
                .index-advants__note Оригинальная продукция