section.index-auctions
    .index-auctions__inner
        .index-auctions__h3 Внимание, акция!
        ul.index-auctions__list
            li.index-auctions__item
                include auction-item
            li.index-auctions__item
                include auction-item-sold
            li.index-auctions__item
                include auction-item-discount
            li.index-auctions__item
                include auction-item
            li.index-auctions__item
                include auction-item
            li.index-auctions__item
                include auction-item-sold
            li.index-auctions__item
                include auction-item-discount
            li.index-auctions__item
                include auction-item

        .index-auctions__all-link все акции