section.index-brands
    .index-brands__inner
        .index-brands__h3 производители

        ul.index-brands__list
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_11.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_1.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_2.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_3.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_4.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_3.png", alt="")
            li.index-brands__item
                a
                    img.index-brands__logo(src="images/brand_2.png", alt="")