section.index-popular
    .index-popular__inner
        .index-popular__h3.common__index-h3 популярные товары!

        include popular-item
        include popular-item
        include popular-item
        include popular-item
        include popular-item
        include popular-item
        include popular-item
        include popular-item