section.index-kurs
    .index-kurs__inner
        .index-kurs__h3 курсом дешевле!
        ul.index-kurs__list
            li.index-kurs__item
                include kurs-item
            li.index-kurs__item
                include kurs-item2
            li.index-kurs__item
                include kurs-item
            li.index-kurs__item
                include kurs-item
            li.index-kurs__item
                include kurs-item2
            li.index-kurs__item
                include kurs-item2