.kurs-item
    .kurs-item__foto
        a
            img(src="images/kurs_1.png", alt="")

    a.kurs-item__title Курс витаминок!
        .kurs-item__subtitle (протин+панадол+валидол+ водичка!)

    .kurs-item__price 38000 р.

    a.auction-item__cart-btn В корзину!