.main-menu__open-btn Меню
nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link.main-menu__link--active(href="#") КАТАЛОГ
            ul.main-menu__submenu
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Тест
        li.main-menu__item
            a.main-menu__link(href="#") ПРОИЗВОДИТЕЛИ
        li.main-menu__item
            a.main-menu__link(href="#") СКИДКИ
        li.main-menu__item
            a.main-menu__link(href="#") ДОСТАВКА И ОПЛАТА
        li.main-menu__item
            a.main-menu__link(href="#") НОВИЧКАМ
        li.main-menu__item
            a.main-menu__link(href="#") ОТЗЫВЫ