.main-menu__open-btn Меню
nav.main-menu.red
    ul.main-menu__list.mega-menu#main-menu
        li.main-menu__item
            a.main-menu__link(href="#") КАТАЛОГ
            ul.main-menu__submenu
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Заголовок 1
                        ul.main-menu__submenu-level2
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                li.main-menu__submenu-item
                    a.main-menu__submenu-link Заголовок 1
                        ul.main-menu__submenu-level2
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
                            li.main-menu__submenu-item
                                a.main-menu__submenu-link Тест
        li.main-menu__item
            a.main-menu__link(href="#") ПРОИЗВОДИТЕЛИ
        li.main-menu__item
            a.main-menu__link(href="#") СКИДКИ
        li.main-menu__item
            a.main-menu__link(href="#") ДОСТАВКА И ОПЛАТА
        li.main-menu__item
            a.main-menu__link(href="#") НОВИЧКАМ
        li.main-menu__item
            a.main-menu__link(href="#") ОТЗЫВЫ