.personal-sidebar
    a.personal-sidebar__foto-change

    .personal-sidebar__foto
        img(src="", alt="")

    .personal-sidebar__balance-block
        label Ваш баланс
        span 38000 р.
        a.personal-sidebar__add Пополнить баланс
        a.personal-sidebar__history История операций

    .personal-sidebar__discount-block
        .personal-sidebar__discount-current
            label Ваша скидка
            span 5%
        .personal-sidebar__purchase-sum Общая <br>сумма покупок: 16 300 р.

        .personal-sidebar__chart
            .personal-sidebar__chart-inner
                span

            .personal-sidebar__sum-from 10 000 р.
            .personal-sidebar__sum-to 20 000 р.

        .personal-sidebar__percent
            label 3%
            span Свыше 0 р.
        .personal-sidebar__percent
            label 5%
            span Свыше 10 000 р.
        .personal-sidebar__percent
            label 7%
            span Свыше 20 000 р.
        .personal-sidebar__percent
            label 10%
            span Свыше 30 000 р.

    .personal-sidebar__invite
        .personal-sidebar__invite-title Приведи друга!
        .personal-sidebar__invite-descr Здай нам имейл своего другана и коси проценты с каждой покупки друга!

        input.personal-sidebar__invite-input(type="text", placeholder="Введи имейл")


