.popular-item
    .popular-item__foto
        a
            img(src="images/auction-item.png", alt="")

    a.popular-item__title Methandriol dipropionate

    .popular-item__price
        span.popular-item__price--new 38000 р.
        span.popular-item__price--old 88000 р.

    a.popular-item__cart-btn В корзину!