.price-item
    .price-item__pic
        img(src="images/tovar-small.jpg", alt="")
    a.price-item__name Наклейка модная на таз пацанский. Цвет белый. 19х20 см.
    .price-item__sum 38000 р.

    .price-item__quan
        span.price-item__minus -
        input.price-item__quan-input(type="num",value="1",min="1")
        span.price-item__plus +

    a.price-item__to-cart В КОРЗИНУ!

.price-item
    .price-item__pic
        img(src="images/tovar-small.jpg", alt="")
    a.price-item__name Наклейка модная на таз пацанский. Цвет белый. 19х20 см.
    .price-item__sum.price-item__sum--empty 38000 р.

    .price-item__empty Нет в наличии! :(

.price-item
    .price-item__pic
        img(src="images/tovar-small.jpg", alt="")
    a.price-item__name Наклейка модная на таз пацанский. Цвет белый. 19х20 см.
    .price-item__sum 38000 р.

    .price-item__quan
        span.price-item__minus -
        input.price-item__quan-input(type="num",value="1",min="1")
        span.price-item__plus +

    a.price-item__to-cart В КОРЗИНУ!

