.price-filter
    .price-filter__range

    .price-filter__select-wrap
        .price-filter__select-label Бренд
        select.price-filter__select
            option все
            option знач 1
            option знач 2

    .price-filter__select-wrap
        .price-filter__select-label Цель
        select.price-filter__select
            option все