.price-filter
    .price-filter__range

    .price-filter__select-wrap
        .price-filter__select-label Бренд
        select.price-filter__select
            option все

    .price-filter__select-wrap
        .price-filter__select-label Цель
        select.price-filter__select
            option все