.product
    .product__left
        .product__pic--big
            a(class="fancy", href="images/product.jpg")
                img(src="images/product.jpg", alt="")

        .product__foto-list
            .product__foto-item
                a(data-src="images/product.jpg")
                    img(src="images/tovar-small.jpg", alt="")
            .product__foto-item
                a(data-src="images/product.jpg")
                    img(src="images/tovar-small.jpg", alt="")
            .product__foto-item
                a(data-src="images/product.jpg")
                    img(src="images/tovar-small.jpg", alt="")
            .product__foto-item
                a(data-src="images/product.jpg")
                    img(src="images/tovar-small.jpg", alt="")

    .product__right
        h1.product__h1 Метандиенон
            a.product__brand Название бренда!
            a.product__rev-lnk(href="#reviews-block") Отзывы (1)
            .product__stars
                .product__stars-inner

        .product__anons Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки
                        | еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания, окислительного фосфорилирования возможно и усилению синтеза АТФ и накоплению макроэргов внутри клетки.
                        | Стимулирует анаболические и подавляет катаболические процессы,
                        | вызванные глюкокортикоидами.

        a.product__more(href="#full-descr") Подробнее!

        ul.product__advant-list
            li.product__advant-item
                span Лучший в мире медленно усваиваемый белок!
            li.product__advant-item
                span С высоким содержанием антикатаболических аминокислот
            li.product__advant-item
                span Чистый мицелярный казеин и Лучший в мире медленно усваиваемый белок!

        .product__avail В наличии!

        .product__pay-block
            .product__price 38 000 р.

            .product__quan
                span.product__minus -
                span.product__plus +
                input.product__quan-input(type="num",value="1",min="1")

            .product__to-cart В КОРЗИНУ!
            .product__to-fav МНЕ НРАВИТСЯ

