.product-page
    .product-page__top
        include product

    section.product-page__descr#full-descr
        .product-page__descr-inner
            .product-page__h3.product-page__descr-h3 описание
            .product-page__descr-text
                p Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания, окислительного фосфорилирования возможно и усилению синтеза АТФ и накоплению макроэргов внутри клетки.
                    | Стимулирует анаболические и подавляет катаболические процессы,
                    | вызванные глюкокортикоидами.
                    | Приводит к увеличению мышечной массы, уменьшению отложений жира и
                p Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания, окислительного фосфорилирования возможно и усилению синтеза АТФ и накоплению макроэргов внутри клетки.
                    | Стимулирует анаболические и подавляет катаболические процессы,
                    | вызванные глюкокортикоидами.
                    | Приводит к увеличению мышечной массы, уменьшению отложений жира и

    section.product-page__use
        .product-page__use-inner
            .product-page__h3 способ применения
            .product-page__use-text Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки
                                    | еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания,
                                    | окислительного фосфорилирования возможно и усилению синтеза АТФ и накоплению макроэргов внутри клетки.
                                    | Стимулирует анаболические и подавляет катаболические процессы,
                                    | вызванные глюкокортикоидами.
    section.product-page__reviews#reviews-block
        .product-page__reviews-inner
            .product-page__h3 отзывы
            .product-page__reviews-list
                .reviews-list__item
                    .reviews-list__item-foto
                        img(src="images/rev1.png", alt="")

                    .reviews-list__item-top
                        span.reviews-list__item-name Николаев
                        span.reviews-list__item-date 18 сентября 2016
                        .reviews-list__stars
                            .reviews-list__stars-inner

                    .reviews-list__item-text Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки
                                             | еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания, окислительного фосфорилирования возможно и усилению

                    .reviews-list__item-pos <span>Достоинства:</span> Проникая внутрь клеточного ядра
                    .reviews-list__item-neg <span>Недостатки:</span> Возможный текст

                    .reviews-list__item-bot
                        a.reviews-list__item-quote Цитировать
                        a.reviews-list__item-answer Ответить
                        span.reviews-list__item-plus 8
                        span.reviews-list__item-minus 8

                .reviews-list__item.reviews-list__item-feedback
                    .reviews-list__item-foto
                        img(src="images/rev2.png", alt="")
                    .reviews-list__item-top
                        span.reviews-list__item-name Николаев
                        span.reviews-list__item-date 18 сентября 2016
                    .reviews-list__item-text Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки
                                             | еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно

                    .reviews-list__item-bot
                        a.reviews-list__item-quote Цитировать
                        a.reviews-list__item-answer Ответить
                        span.reviews-list__item-plus 8
                        span.reviews-list__item-minus 8

                .reviews-list__item
                    .reviews-list__item-foto
                        img(src="images/rev3.png", alt="")
                    .reviews-list__item-top
                        span.reviews-list__item-name Николаев
                        span.reviews-list__item-date 18 сентября 2016
                        .reviews-list__stars
                            .reviews-list__stars-inner
                    .reviews-list__item-text Проникая внутрь клеточного ядра, активизирует генетический аппарат клетки
                        | еще увеличению синтеза ДНК, РНК и структурных белков, активации ферментов цепи тканевого возможно и усилению тканевого дыхания, окислительного фосфорилирования возможно и усилению

                    .reviews-list__item-pos <span>Достоинства:</span> Проникая внутрь клеточного ядра
                    .reviews-list__item-neg <span>Недостатки:</span> Возможный текст

                    .reviews-list__item-bot
                        a.reviews-list__item-quote Цитировать
                        a.reviews-list__item-answer Ответить
                        span.reviews-list__item-plus 8
                        span.reviews-list__item-minus 8

            include page-nav