.reviews-item
    .reviews-item__foto
        img(src="images/review-foto.png", alt="")

    .reviews-item__name Петрович
    .reviews-item__rating
    .reviews-item__text Не могу понять, какая нужна и как его принимать. Помогите, пожалуйста...