.side-buttons
    .side-buttons__button.side-buttons__cart
        a.side-buttons__button-inner
            span.side-buttons__label Корзина
            span.side-buttons__cart-inner
                span.side-buttons__cart-num 3

    .side-buttons__button.side-buttons__consult
        a.side-buttons__button-inner
            span.side-buttons__label Консультант