.top-menu__open-btn дополнительно
.top-menu
    ul.top-menu__list
        li.top-menu__item
            a.top-menu__link(href="#") О нас
        li.top-menu__item
            a.top-menu__link(href="#") Сотрудничество
        li.top-menu__item
            a.top-menu__link(href="#") FAQ и правила заказа
        li.top-menu__item
            a.top-menu__link(href="#") Сертификаты
        li.top-menu__item
            a.top-menu__link(href="#") Общение