.top-slider
    .top-slider__inner
        ul.top-slider__slides
            li.top-slider__slide
                img(class="top-slider__pic", src="images/top-banner.jpg", alt="")
                .top-slider__text Gerthshop.com <br>Гастроном спортивной <br>фармакологии
                .top-slider__num №1
                .top-slider__note *по мнению посетителей тематических ресурсов
            li.top-slider__slide
                img(class="top-slider__pic", src="images/top-banner.jpg", alt="")
                .top-slider__text Gerthshop.com <br>Гастроном спортивной <br>фармакологии
                .top-slider__num №1
                .top-slider__note *по мнению посетителей тематических ресурсов
            li.top-slider__slide
                img(class="top-slider__pic", src="images/top-banner.jpg", alt="")
                .top-slider__text Gerthshop.com <br>Гастроном спортивной<br> фармакологии
                .top-slider__num №1
                .top-slider__note *по мнению посетителей тематических ресурсов

    .top-slider__present
        .top-slider__present-inner
            .top-slider__present-text сомневаешься? <br>проверь наш сервис! <br>Получи пробный заказ
                span бесплатно!
            a.top-slider__present-btn ХОЧУ !!!