tr.order-line
    td
        span.order-line__date 11.12.2016
    td
        a.order-line__num 13100
    td
        span.order-line__name 1 х  Dianoged inj EPF Euro Prime
    td
        span.order-line__status ОБробатывается
    td
        span.order-line__price 1100 р.