.personal-tab.tab-history#tab-history
    table.tab-history__table(cellpadding="0", cellspacing="0", border="0")
        thead
            tr
                th Дата
                th Номер
                th Наименование
                th Статус
                th сумма
        tbody
            include order-line
            include order-line
            include order-line
            include order-line
            include order-line
            include order-line
            include order-line
            include order-line
            include order-line

    include ../page-nav

