.personal-page {
  .container();
  .relative();
  margin-bottom: 100px;

  @media @screen-lg {
    margin-bottom: 20px;
  }
  @media @screen-md {
    margin-bottom: 20px;
  }
  @media (min-width: 320px) and (max-width: 479px) {
    overflow: hidden;
  }
  @media @screen-xs {
    margin-bottom: 20px;
  }

  &::after {
    display: block;
    width: 100%;
    clear: both;
    content: '';
  }

    &__title {
    margin-bottom: 41px;
    .font-family(@font-bold);
    .font-size(4.6rem,33px);
    color: @color;
    .uppercase();
  }

  &__logout {
    display: block;
    .size(175px,49px);
    .absolute();
    top: 0;
    right: 0;
    border: 3px solid @color;
    .font-family(@font-bold);
    .font-size(1.9rem,44px);
    color: @color;
    .uppercase();
    .align-center();
    .no-decor();

    @media @screen-xs {
      width: 110px;
      padding-left: 22px;
    }
  }
  &__logout::before {
    display: block;
    background-image: url(../images/spritesheet.png);
    background-position: -239px -182px;
    width: 21px;
    height: 16px;
    .absolute();
    .pos(15px,27px);
    content: '';

    @media @screen-xs {
      left: 10px;
    }
  }
}

@import "personal-sidebar";
@import "personal-tabs";